#binsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.button-item {
    margin-bottom: 10px;
    /* Adjust the spacing between buttons as needed */
}

.bin {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#trashBinContainer {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #ff8a8a;
}

#trashBin {
    width: 80px;
    height: 200px;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#trashBinFill {
    width: 100%;
    background-color: #ff0000;
    position: absolute;
    bottom: 0;
    transform-origin: bottom;
    transition: transform 0.5s ease;
}

#a {
    width: 300px;
    height: 300px;
    background-color: #ff0000;
}